body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  margin: 2px;
  font-weight: bold;
  color:rgb(81, 205, 236);
  width: 30%;
  height: 5rem;
  width: 15rem;
  font-size: 24px;
  background-color: bisque;
  border: thick double rgb(247, 169, 169);
}

input {
  transition-duration: 0.4s;
}

input:focus,
/* input:focus {
  color: goldenrod;
  background-color: rgba(32, 175, 32, 0.2);
} */
input:hover {
  color: rgba(255, 246, 168, 0.938);
  background-color: rgb(22, 160, 107);
  /* border:rgba(253, 56, 30, 0.938) */
  border: thick double rgb(104, 230, 182);
}

li {
  margin: 5px;
  padding:5px;
  text-align: left;
  float:left;
  /* display: inline; */
}